version: "3.7"
services:
  node:
    build:
      context: ./
    volumes:
      - ./:/home/node/app
      - /home/node/app/node_modules
      - /home/node/app/build
    command: bash -c "yarn run build-client && yarn start"
    ports:
      - "8080:8080"